# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# build system
.gradle

# editor
.vscode
.idea

# dependencies
frontend/node_modules
frontend/*.pnp
**.pnp.js

# testing
frontend/coverage

# production
frontend/build
build

# secrets
Backend/RollbuddyFirestoreCredentials.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

